[submodule "components/general-support-library"]
	path = components/general-support-library
	url = ../embedded-general-support-library.git
[submodule "components/SimpleDrivers"]
	path = components/SimpleDrivers
	url = ../embedded-simple-drivers.git
